body {
  padding-top: 60px;
  padding-left: 10px;
}

nav {
 width: 100%;
  margin: 0;
  padding: 0;
  background-color: #182b44;
  text-align: middle;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
}

nav ul li {
  float: left;
}

/* fixed NAVIGATION
.navbar-default {
  background-color: #182b44;
  margin-bottom: 50px;
}
*/

nav ul li a {
  display: inline-block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

nav ul li a:hover {
  background-color: #314c72;
  color: white;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  height: 100%;
  opacity: 0.5;
}

nav ul li a:active {
  background-color: #314c72;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  opacity: 0.5;
}

.logo {
  padding: 10px 10px;
}

/*LARGE Home page Image*/
.bg {
  /* The image used */
  background-image: url("live-music-cover.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrap {
  padding-bottom: 60px;    /* Footer height */
}
/*FOOTER*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #990000;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #990000;
}
.footer ul li {
  float: left;
}

.footer ul li a {
  display: inline-block;
  color: white;
  padding: 20px 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}
.footer ul li a:hover {
  opacity: 0.5;
}

footer .facebook {
  float: right;
  padding: 0px;
  margin-left: 300px;
}
footer .instagram {
  float: right;
  padding: 0px;
}
footer .twitter {
  float: right;
  padding: 0px;
  width: 21px;
}
footer .youtube {
  float: right;
  padding: 0px;
  width: 21px;
}
h1, h2, h3, h4, h5 {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

p {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}
